body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header,
.footer {
    background: #1F2937;
    display: flex;
    align-items: center;

}

.header {
    justify-content: space-between;
    padding-top: 16px;
}

.footer {
    justify-content: center;
    color: #E5E7EB;
    padding: 12px;
}

.left-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
}
.header-subtext, .content, .testimonial, .action-call {
    flex: 1;
}

.header, .header-subtext {
    padding-left: 100px;
    padding-right: 100px;
}
.header-subtext {
    display: flex;
    background: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-one {
    background-color: #3882F6;
    border: solid #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.content-title {
    display:flex;
    justify-content: center;
    align-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    
    font-weight: bold;
}

#cardimages {
    max-width: 50%;
    height: auto;
    border-radius: 25px;
    border: 5px solid #3882F6;
}

.content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-one, .info-two, .info-three, .info-four {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.testimonial {
    display: flex;
}

.action-call {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}