body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header,
.footer {
    background: #1F2937;
    display: flex;
    align-items: center;

}

.header {
    justify-content: space-between;
    padding-top: 16px;
    height: 200px;
}

.footer {
    justify-content: center;
    color: #E5E7EB;
    padding: 12px;
}

.logo {
    display: flex;
    justify-content:flex-start;
    width: auto;
    height: auto;

}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
    gap: 32px;
}
.header, .header-subtext, .content, .testimonial, .action-call {
    flex: 1;
}

.header, .header-subtext {
    padding-left: 100px;
    padding-right: 100px;
}
.header-subtext {
    display: flex;
    flex-direction: row;
    background: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-img{
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
    max-height: 350px;
}

.sign-up-one {
    background-color: #3882F6;
    border: solid #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 125px;
    padding-right: 125px;
}

.content-title {
    display:flex;
    justify-content: center;
    align-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    
    font-weight: bolder;
}

#cardimages {
    max-width: 90%;
    height: auto;
    border-radius: 25px;
    border: 5px solid #3882F6;
}

.content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
}

.info-one, .info-two, .info-three, .info-four {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width:200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #E5E7EB;
    font-size: 24px;
    text-align: center;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.action-call {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.action-to-play{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 6px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom:50px;
}

.action-title, .action-text {
    color: white;
}

.action-title {
    font-weight: bold; 
}

.right-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
}

.play-now{
    border-color: white;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}